.lamp {
  position: absolute;
  top: -0.2%;
  right: 3.5vw;
  z-index: 12;
  transform: rotate(40deg);
}

.lamp_light {
  position: absolute;
  right: calc(10% / 2);
  opacity: 30%;
  z-index: 11;
  background: linear-gradient(192deg, #ffcb15 30%, transparent 60%);
  clip-path: polygon(100% 0, 0% 100%, 93% 100%);
}

@media screen and (max-width: 900px) {
  .lamp {
    display: none;
  }
  .lamp_light {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .Home-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    height: 100vh;
  }
  .text-container {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .Box {
    width: 100%;
  }
}

/*  */
