@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --secondary-color: #fbae3c;
  --primary-color: #001220;
  --grey-color: #99b898;
  --font-sz: 1.5rem;
}

body {
  height: auto;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 3px;
}
