@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --secondary-color: #fbae3c;
  --primary-color: #001220;
  --grey-color: #99b898;
  --font-sz: 1.5rem;
}

body {
  height: auto;
}
